/* Links to index.html */

* {
    
}

body {
    font-family: Century;
    color: #5d6063;
    display: flex;
}

.marginLeft {
    width: 20%;
}

.mainBody {
    width: 60%;
}

.marginLeft {
    width: 20%;
}

.header {
    color: black;
    font-family: "Georgia";
    font-weight: 400;
    text-align: center;
}

.books {
    margin-left: 30%;
}

.footnotes {
    
}