/* Links to index.html */

.header {
    margin-bottom: 10px;
    margin-left: 100px;
}

.books {
    margin-bottom: 10px;
    margin-left: 100px;
}

.footnotes {
    margin-bottom: 10px;
    margin-left: 100px;
}