/* Links to index.html */

* {
    
}

body {
    font-family: Century;
    color: #5d6063;
    display: flex;
    justify-content: center;
}

.mainBody {
    
}

.header {
    color: black;
    font-family: "Georgia";
    font-weight: 400;
    text-align: center;
}

.books {
    
}

.footnotes {
    
}